@import  'css/parallax.css';
@import  'css/welcome-text.css';
@import  'css/header.css';
@import  'css/utilities.css';
@import  'css/slider.css';
@import   'offersStyle.css';
@import  'credits.css';




/* =====================================
            Base Styles
===========================================*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    color:inherit;
    text-decoration: none;
}
a:hover, a:visited {
    color:inherit;
}




/* ==================   Offers */


/* ==========
    Credits
    ========
*/
.credits-list-container {
    margin-bottom: 20px;
}
.credits-header {
    text-align: left;
    color:darkviolet;
    font-weight: bold;
}
.credits-listItem {
    background-color:rgb(33, 194, 248);
    color: #ffffff;
    margin-top: 10px;
    padding: 26px;  /* to fill the table cell */
}
.credits-list {
    margin:0;
    padding:0;
}
.credits-listItem:first-child {
    margin-top:0;
}
.credits-listItem.active {
    background-color: gray;
}
.credits-listItem a {
    font-size: 20px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;

}
.credits-text-container {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0;
    background-color: #efefef;

}
.credits-text {

}

@media (max-width: 768px) {
    body {
        padding-top: 60px;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }
    
  
}

