.mobileMenu-top .navbar-nav {
    margin-left: 0;
    margin-right: 0;

}
.top-logoInfo {
    margin-top: 20px;
    margin-bottom:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.fixedTopBar {
    position: fixed;
    width:100%;
    height:60px;
    top: 0;
    background: #fff;
    z-index: 1000;
    color: #000;
    box-shadow: 0 2px 0 2px rgba(0,0,0,0.1);
}
.fixedTopBar-header {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font-size:24px;
    font-weight: 500;
}
.buttonMenuMobile {
    position:fixed;
    top: 5px;
    width:40px;
    height: 56px;
    padding:6px;
    left:8px;
    cursor: pointer;
}
.buttonMenuMobile .hamburger-inner {
    position: fixed;
    top: 25px;
    display: block;
    height: 5px;
    border-radius: 2px;
    width: 40px;
    background: #222533;
    transition: background 0.3s .1s ease-in-out;
}
.buttonMenuMobile.is-active .hamburger-inner {
    background: transparent;
}
.buttonMenuMobile .hamburger-inner:before,.buttonMenuMobile .hamburger-inner:after {
    position: fixed;
    height:5px;
    width:40px;
    display:block;
    border-radius: 2px;
    content: '';
    background: #222533;
    transition: top .3s .3s ease-in-out,transform .3s ease-in-out ;

}
.buttonMenuMobile .hamburger-inner:before {
    top: 13px;
}
.buttonMenuMobile .hamburger-inner:after {
    top:37px;
}
.buttonMenuMobile.is-active .hamburger-inner:after,
.buttonMenuMobile.is-active .hamburger-inner:before {
    top: 25px;
    transition: top .3s ease-in-out,transform .3s .3s ease-in-out ;
}
.buttonMenuMobile.is-active .hamburger-inner:before {
    transform: rotate(45deg);
}
.buttonMenuMobile.is-active .hamburger-inner:after {
    transform: rotate(-45deg);
}
.mobileMenu-top {
    background: #fff;
    padding-left:0;
    margin:0;
    width:240px;
    color: #000000;
    top: 60px;
    left:0;
    bottom:0;
    z-index: 100;
    position: fixed;
    transform: translateX(-240px);
    transition: all 0.3s ease-in-out;
    padding-right: 0;
}
.mobileMenu-top.show {
    transform: translateX(0);
}
.mobileMenu-top .collapse {
    display:block;
}
.mobileMenu-top ul {
     
 }
.mobileMenu-top a {
    color: #222533;
}
.mobileMenu-top li > a:hover {
    background: #222533;
    color: #ffffff;
}
.mobileMenu-top .dv-navigation,
.mobileMenu-top .navbar-collapse {
    float: none !important;
}
.navbar-section-top {
    background-color: transparent;
    border-bottom:1px solid #e0e0e0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #e0e0e0;
}
.logo img {
    min-height: 158px;
    min-width: 288px;
}
.navbar-section-top-margTop {
    margin-top: 0px;
}
.navbar-section-top-left {
    padding-left: 0px;
}
.navbar-section-top-left .navbar-nav li  {
    border-left:1px solid #e0e0e0;
    padding: 4px;
}
.navbar-section-top-left .navbar-nav li:last-child {
    border-right: 1px solid #e0e0e0;
}
.navbar-section-top-left .navbar-nav li.active a,
.navbar-section-top-left .navbar-nav li a:hover,
.navbar-section-top-left .navbar-nav li.active a:hover {
    background: #222533 !important;
    color: #ffffff;
}
.navbar {
    min-height: 0;
}
.navbar-section-top-left .navbar-nav li a {
    padding: 15px 30px;
    font-size: 20px;
    transition: all .2s ease;
    background: transparent;
    color:#222533;
    font-weight: 600;
}
.navbar-section-top-left .navbar-collapse {
    float: left;
}
.navbar-form, .contact {
    padding-right: 0;
}
.needHelp-header {
    font-size: 26px;
}

.contact {
    color: #0a1923;
     position: relative;
}
.telContact:before {
    position: absolute;
    content: "\f10b";
    font-family: 'FontAwesome';
    font-weight: 400;
    font-size: 58px;
    color: #c9c9c9;
    top: -10px;
    left: 0;
    transition: all .2s ease;
}
.telContact { 
    position: relative;
    font-size:34px;
    color:#21c2f8 !important;
    font-weight: bold;
    padding-left: 38px;
}
.telContact:hover:before {
    font-size: 65px;
    color:#21c2f8;
}
@media (max-width: 991px) {
    .needHelp-header {
        font-size: 22px;
    }
    .telContact:before {
        font-size: 52px;
    }
    .telContact { 
        font-size:28px;
        padding-left: 26px;
    }
    .telContact:hover:before {
        font-size: 58px;
    }
    .navbar-section-top-left .navbar-nav li a {
        padding: 15px 20px;
        font-size: 17px;
    }
    .contact {
        float: right;
    }
}
@media (max-width: 768px) {
    .contact {
        float:none;
        text-align: center
    }
    .needHelp-header {
        font-size: 20px;
    }
    .telContact:before {
        font-size: 48px;
    }
    .telContact { 
        font-size:25px;
        padding-left: 28px;
    }
    .telContact:hover:before {
        font-size: 60px;
    }
}