<footer>  
    <div class="row">
        <div class="col-xs-12 footerContact">
            <address>
                <div class="hidden-xs col-sm-4 leftInfoContact vertCenter">
                    <span>Doradztwo biznesowe Anna Adamska</span><br>
                    <span>ul. Janusza Korczaka 4/5</span><br>
                    <span>46-040 OZIMEK</span><br>
                    <a href="tel:604347019" title="+48 604 347 019">
                        <span class="hidden-xs hidden-sm"> tel: +48 604 347 019</span>
                    </a>
                </div>
                <div class=" col-sm-4 hidden-xs hidden-sm circle vertCenter">
                    <div class="innerCircle"></div>
                </div>
                <div class="col-xs-12 col-sm-4 text-center vertCenter rightInfoContact">
                    <span class="">e-mail:<a href="mailto:biuro@db-adamska.pl">biuro@db-adamska.pl</a>
                    </span>
                    <p>
                        <a href="http://www.db-adamska.pl/">http://www.db-adamska.pl</a>
                    </p>
                </div>
            </address>
        </div>
    </div>
</footer>