 <section class="parallax-section parallax-box parallax" data-url="public/static/img/k07/parallax2.jpg" data-mobile="true" data-speed="0.9">
    <div class="parallax-cnt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 ">
                    {% for i,row in position6 %}
                        {{ row|raw }}
                    {% endfor %}
                </div>
            </div>
        </div> 
    </div>
</section>