<section class="sliderMargin noPadding hidden-xs hidden-sm">
    {% for i,row in position3 %}
        {{ row|raw }}
    {% endfor %}
</section>
<section class="sliderMargin noPadding hidden-md hidden-lg">
    <div id="no-slider_">
        <div class="item active">
            {% for i, row in position6 %}
                {{ row|raw }}
             {% endfor %}   
        </div>
    </div>
</section>


 <script>
        $(function(){
                $(window).resize(function() {
                    if ( window.innerWidth < 991 ){
                        $('#no-slider_ .item.active img').css('margin-left',-(991 - window.innerWidth)*0.5);
                    }
                })
            $('.sliderCaption').click( function () {
                window.location = $(this).data('href');
            })
        })


 </script>