<section class="offers-thumbnailsImg">
    <div class="row">
        <div class="row-height">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2  col-md-4 col-sm-height">
                <a href="74-kredyty-hipoteczne.html">
                    {% for i,row in position3 %}
                        {{ row|raw }}
                    {% endfor %}
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-8 col-sm-offset-2 col-sm-height">
                <a href="75-strefa-dla-przedsiebiorcow.html">    
                   {% for i,row in position4 %}
                        {{ row|raw }}
                    {% endfor %}
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-8 col-sm-offset-2  col-sm-height">
                <a href="76-kredyty.html"> 
                    {% for i,row in position5 %}
                        {{ row|raw }}
                    {% endfor %}
                </a>
            </div>
        </div>
    </div>    
</section>