<!-- WELCOME TEXT WITH IMAGE  -->
    <section class="container-fluid welcome-text-sect">
       <div class="row">
            <div class="row-height">                
                {% for i,row in position4 %}
                   {{ row|raw }}
                {% endfor %}
            </div>
        </div>
    </section>