<meta name="viewport" content="width=device-width,minimum-scale=1.0'">
       {% include 'content/includes/header.twig' %}
    <main>
        <!-- PARALLAX IMG  -->
        {% include 'content/includes/parallax2.twig'%}
          <!-- GOOGLE MAP -->
        <section>
            <div>
                <img src="public/adamska/map-mockup.png" alt="">
            </div>
        </section>
    </main>
    <script type="text/javascript" src="public/adamska/js/jquery.rd-parallax.js"></script>
    <script src="public/adamska/js/mobile-menu.js"></script>