<div class="container-fluid noPadding ">
    <header>
   <!-- MENU MOBILE -->
        {% if not auth %}
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg mobileMenu-top">
                <!--NAVIGATION-->
                        <div class="dv-navigation">{{ menu|raw }}</div>
                        <div class="clearfix"></div>             
            </div>              
        {% endif %}
        <div class=" hidden-sm hidden-lg hidden-md">
            <div class="fixedTopBar">
                <h1 class="text-center fixedTopBar-header ">Doradztwo Biznesowe</h1>
                <div class="menuMobile buttonMenuMobile">
                    <div class="hamburger">
                        <span class="hamburger-inner"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="background-container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-md-offset-2">
                    <div class="logo">
                        {% for i,row in position1 %}
                            {{ row|raw }}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 hidden-xs contact">
                    {% for i,row in position2 %}
                        {{ row|raw }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- NAVBAR-->
        <div class="container hidden-xs">
            <div class="row">
                <nav class="navbar navbar-default navbar-section-top hidden-xs">
                        <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="col-sm-12 text-center navbar-section-top-margTop">
                        <div class="navbar-section-top-left">
                               <div class="dv-navigation inlineBlock">{{ menu|raw }}</div>
                                <div class="clearfix"></div>
                          <!--   <ul class="nav navbar-nav">
                                <li class="active nav-item"><a href="#">START</a></li>
                                <li class="nav-item"><a href="#">OFERTA</a></li>
                                <li class="nav-item"><a href="#">KONTAKT</a></li>
                            </ul> -->

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
</div>