<meta name="viewport" content="width=device-width,minimum-scale=1.0'">
       {% include 'content/includes/header.twig' %}
    <main>
     <section class="container credits-list-container">
         <div class="row">
             <div class="col-xs-12">
                  {% for i,row in position3 %}
                        {{ row|raw }}
                    {% endfor %}
             </div>
         </div>
         <div class="row">
             <div class="row-height">
                   {% for i,row in position4 %}
                        {{ row|raw }}
                    {% endfor %}
             </div>
         </div>
     </section>
        
     <!-- PARALLAX IMG -->
        {% include 'content/includes/parallax2.twig'%}

     <section>
        <article class="credits-article">
            {% for i,row in position5 %}
                {{ row|raw }}
            {% endfor %}
         </article>
         <article class="credits-article">
            {% for i,row in position6 %}
                {{ row|raw }}
            {% endfor %}
         </article>

         <article class="credits-article">
             <div class="row">
                 <div class="col-xs-12">
                     <h2 class="credits-header">KREDYTY KONSOLIDACYJNE</h2>
                 </div>
             </div>
                 <div class="row">
                     <div class="col-xs-12 credits-text-container">
                         <div class="col-md-4 imgFloat">
                             <img src="public/static/img/k07/min/credits-consolidation.jpg" alt="" class="img-responsive width100">
                         </div>
                         <div class="">
                             <p class="credits-text">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue eleifend tincidunt. Vivamus a tempus ante, sed interdum nisl. Nunc faucibus, elit sed sollicitudin sodales, nulla orci bibendum quam, et fermentum massa metus vitae leo. Etiam congue ipsum in augue porta, ut convallis augue faucibus. Aliquam sapien turpis, aliquet tincidunt nibh a, consequat molestie dolor. Nam fringilla ornare sem sed laoreet. Sed id erat quis ligula tempus tincidunt

                                 Sed bibendum erat non nisi congue, id bibendum enim placerat. Donec convallis imperdiet nisi, ac laoreet quam venenatis id. Donec sodales lobortis libero. Aliquam leo ipsum, ultrices nec posuere sed, posuere eget leo. Donec vitae varius neque. Nulla pulvinar vel nunc eu lobortis. Cras a augue nisl. Pellentesque mi diam, faucibus viverra elit sed, sagittis ornare sem. Nam sed purus ut urna porttitor pulvinar. Fusce id pellentesque metus. Maecenas risus felis, consectetur vitae molestie ac, blandit eget tellus. Proin ac eros nec lacus iaculis volutpat. Sed pulvinar congue felis non venenatis. Nam eget sem diam.
                             </p>
                         </div>
                     </div>
                 </div>
         </article>
         <article class="credits-article">
             <div class="row">
                 <div class="col-xs-12">
                     <h2 class="credits-header">POŻYCZKI HIPOTECZNE</h2>
                 </div>
             </div>
                 <div class="row">
                     <div class="col-xs-12 credits-text-container">
                         <div class="col-md-4 imgFloat ">
                             <img src="public/static/img/k07/min/loan-mortgage.jpg" alt="" class="img-responsive width100">
                         </div>
                         <div class="">
                             <p class="credits-text">
                                 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue eleifend tincidunt. Vivamus a tempus ante, sed interdum nisl. Nunc faucibus, elit sed sollicitudin sodales, nulla orci bibendum quam, et fermentum massa metus vitae leo. Etiam congue ipsum in augue porta, ut convallis augue faucibus. Aliquam sapien turpis, aliquet tincidunt nibh a, consequat molestie dolor. Nam fringilla ornare sem sed laoreet. Sed id erat quis ligula tempus tincidunt

                                 Sed bibendum erat non nisi congue, id bibendum enim placerat. Donec convallis imperdiet nisi, ac laoreet quam venenatis id. Donec sodales lobortis libero. Aliquam leo ipsum, ultrices nec posuere sed, posuere eget leo. Donec vitae varius neque. Nulla pulvinar vel nunc eu lobortis. Cras a augue nisl. Pellentesque mi diam, faucibus viverra elit sed, sagittis ornare sem. Nam sed purus ut urna porttitor pulvinar. Fusce id pellentesque metus. Maecenas risus felis, consectetur vitae molestie ac, blandit eget tellus. Proin ac eros nec lacus iaculis volutpat. Sed pulvinar congue felis non venenatis. Nam eget sem diam.
                             </p>
                         </div>
                     </div>
                 </div>
         </article>
     </section>
          <!-- GOOGLE MAP -->
        <section>
            <div>
                <img src="public/adamska/map-mockup.png" alt="">
            </div>
        </section>
    </main>
    <script type="text/javascript" src="public/adamska/js/jquery.rd-parallax.js"></script>
    <script src="public/adamska/js/mobile-menu.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/js/fullpage/jquery.fullpage.css">
    <script type="text/javascript" src="public/assets/js/fullpage/jquery.fullpage.min.js"></script>