<meta name="viewport" content="width=device-width,minimum-scale=1.0'">
       {% include 'content/includes/header.twig' %}
    <main>
        {% include 'content/includes/thumbnails.twig' %}

        <!-- PARALLAX IMG  -->
        {% include 'content/includes/parallax2.twig'%}
          <!-- GOOGLE MAP -->
        {% include 'content/includes/head.twig' %}
    </main>
    {% include 'content/includes/footer.twig' %}
    <script type="text/javascript" src="public/adamska/js/jquery.rd-parallax.js"></script>
    <script src="public/adamska/js/mobile-menu.js"></script>