
<!-- TO DO: header osobno bo jest uzywany w wielu miejscach tak samo maps zapakuje sie to do osobnych twigow -->
<meta name="viewport" content="width=device-width,minimum-scale=1.0'">
        {% include 'content/includes/header.twig' %}
    <main>
        <!-- SLIDER -->
        {% include 'content/includes/slider.twig' %}

        {% include 'content/includes/welcome-text.twig' %}
            <!-- PARALLAX IMG  -->
       {% include 'content/includes/parallax1.twig' %}
            <!-- GOOGLE MAP -->
        
        {% include 'content/includes/head.twig' %}
        </main>
    <script type="text/javascript" src="public/adamska/js/jquery.rd-parallax.js"></script>
    <script src="public/adamska/js/mobile-menu.js"></script>



